* {
  margin: 0;
  padding: 0;
}

.wrapper {
  background-color: hsl(0, 0%, 81%);
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2em;
}

.testimonial-grid {
  display: flex;
  flex-direction: row;
  width: 90%;
}

.testimonial-grid-left {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution button {
  border: none;
  background: transparent;
}
.attribution button,
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 900px) {
  .testimonial-grid,
  .testimonial-grid-left {
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .testimonial-grid-left {
    width: 100%;
  }
}
